nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	gap: 20px;
}

nav > * {
	margin-top: 20px;
}

.heading {
	display: flex;
	align-items: center;
	gap: 20px;
}

.icon-tv {
	background-color: var(--rose-800);
	border-radius: 50%;
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-tv img {
	width: 30px;
	height: 30px;
}

.search-bar {
	width: 60%;
	border: 2px solid white;
	outline: none;
	padding: 10px;
	background-color: transparent;
	border-radius: 6px;
	font-family: "Inter";
	color: white;

	background-image: url("../../assets/icons/search.svg");
	background-repeat: no-repeat;
	background-position: 99% 50%;
	background-size: 20px;
}

.search-bar::placeholder {
	color: white;
}

.user-profile {
	display: flex;
	align-items: center;
	gap: 20px;
	text-align: center;
}

.user-profile > .hamburger {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--rose-800);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.icon-tv {
		margin-left: 5px;
	}

	.hamburger {
		margin-right: 5px;
	}

	.user-profile span {
		display: none;
	}

	.heading h1 {
		display: none;
	}

	.search-bar {
		background-position: 97% 50%;
	}
}
