header {
	height: 100%;
}

.header-content {
	color: white;
	width: 400px;
	grid-column: 2;

	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 80px;
	padding: 20px 0;
}

.header-content h2 {
	margin-bottom: -15px;
	margin-left: -10px;
}

@media screen and (max-width: 768px) {
	.flex {
		justify-content: center;
	}

	.header-content {
		width: 100%;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-left: 0;
	}

	.header-content span {
		width: 80%;
	}
}
